<div class="dogShowInfo">


  <div class="row">
    <div class="dogShowPic col-xs-5">
      <img class="img-responsive" src="<%= dog.get('dog_photo_large') %>">
    </div>


    <div class='dogShowContent col-xs-6'>
      <h5><strong>Description:</strong></h5>
      <div id="dogDescription">
        <%= dog.escape('description') %>
      </div

      <div class="dogAttributes">
        <div>Age:<%= dog.escape('age') %></div>
        <div>Size: <%= dog.escape('size') %></div>
      </div>
    </div>
  </div>




<div class="row">
  <h3> Comments: </h3>


  <div class="col-xs-4">

    <button id="commentOnDog" class="btn btn-info" data-dog-id="<%= dog.escape('id') %>"> Comment on Dog </h3>

  </div>

  <div class="dogComments row">

  </div>
</div>
