
<div id ="dogShowTopContent">

  <div class="dogShowInfo">


    <h2 id="dogProfileName"><%= dog.escape('name') %>

    </h2>

    <div class="">
      <div class="dogShowPic col-xs-3">
        <img class="dogShowPhoto" src="<%= dog.get('dog_photo_large') %>">
      </div>


      <div class='dogShowContent col-xs-6'>
        <h2 style = "margin-top: 0px;">Description:</h2>
        <div id="dogDescription">
          <%= dog.escape('description') %>
        </div>

        <div class="dogAttributes">
          <div><h3>Age:<%= dog.escape('age') %></h3></div>
          <div><h4>Size: <%= dog.escape('size') %></h4></div>
        </div>
      </div>
    </div>
</div>

</div>


<div id="dogShowBottomContent">
    <div class="publicDogCommentsWrapper">

      <h3> Comments: </h3>


      <div class="publicCommentFormWrapper">

        <button id="commentOnDog" class="btn btn-info" data-dog-id="<%= dog.escape('id') %>"> Comment on Dog </h3>

      </div>

      <div class="dogComments">

      </div>
    </div>
</div>
