<div class="dogShowInfo">

  <h1><%= dog.escape('name') %> <button class="removeDog btn btn-danger">Remove Dog Profile</button></h1>

  <img class="img-responsive img-circle" src="<%= dog.get('dog_photo_large') %>">

<ul>
  <li>Age: <%= dog.escape('age') %></li>
  <li>Description:
    <p class="dog-description"><%= dog.escape('description') %></p>
  </li>
  <li>Size: <%= dog.escape('size') %></li>
  <li>
    <a href= "#/dogs/<%= dog.escape('id') %>/edit"> Edit Dog Information </a>
  </li>
</ul>

<div class="dog_bookings"> asdfasdfasdf
</div>

</div>
