<div class="dogShowInfo">

  <h1><%= dog.escape('name') %> <button class="removeDog btn btn-danger">Remove Dog Profile</button></h1>

  <img class="img-responsive img-circle" src="<%= dog.get('dog_photo_large') %>">

<div>
  <h4>Age: <%= dog.escape('age') %></h4>
  <h4>Description:</h4>
    <p class="dog-description"><%= dog.escape('description') %></p>

  <h4>Size: <%= dog.escape('size') %></h4>
  <div>
    <button class="btn btn-primary editDogInfo" data-id="<%= dog.escape('id') %>">Edit Dog Information</button>
  </div>
</div>
<h3> Bookings: <h3>
<div class="dog_bookings">
</div>

</div>
