<div class="dogShowInfo">

  <div class="topDogPrivateContent">

    <div id="dogPrivateLeftContent">
      <h2 id="dogProfileName"><%= dog.escape('name') %>'s Profile

      </h2>
      <h3 id="privateDogButtonWrapper"><span class="privateDogButtons">
        <button class="editDogInfo btn btn-primary" data-id="<%= dog.escape('id') %>">Edit Dog Information</button>
        <button class="removeDog btn btn-danger">Remove Dog Profile</button>
      </span></h3>


      <div class='dogShowPrivateContent'>
          <h3 style = "margin-top: 0px;">Description:</h3>
          <div id="dogDescription">
            <%= dog.escape('description') %>
          </div>

          <div class="dogAttributes">
            <div><h3>Age: <%= dog.escape('age') %></h3></div>
            <div><h4>Size: <%= dog.escape('size') %></h4></div>
          </div>

      </div>

    </div>

    <div id="dogPrivateRightContent">
      <div class="dogShowPrivatePic">
          <img class="dogShowPrivatePhoto" src="<%= dog.get('dog_photo_large') %>">
      </div>
    </div>



  </div>

  <div id="bottomDogPrivateContent">
    <h3 id="dogPrivateBookingHeader"> Bookings: </h3>
    <div class="dogBookingWrapper">

      <div class="dog_bookings">
      </div>
    </div>
    <h3 id="dogPrivateCommentHeader"> Comments: </h3>
    <div class="dogPrivateCommentsWrapper">

      <div class="dogComments">

      </div>
    </div>

  </div>

</div>
