<div class="dogShowInfo">


  <h1><%= dog.escape('name') %> <button class="removeDog btn btn-danger">Remove Dog Profile</button></h1>

  <div class="row">
    <div class="dogShowPic col-xs-5">
      <img class="img-responsive img-circle" src="<%= dog.get('dog_photo_large') %>">
    </div>


    <div class='dogShowContent col-xs-6'>
      <h5><strong>Description:</strong></h5>
      <div id="dogDescription">
        <%= dog.escape('description') %>
      </div

      <div class="dogAttributes">
        <div>Age:<%= dog.escape('age') %></div>
        <div>Size: <%= dog.escape('size') %></div>
      <div>

      <button class="btn btn-primary editDogInfo" data-id="<%= dog.escape('id') %>">Edit Dog Information</button>
      </div>
      </div>
    </div>
  </div>

<div class="row">
  <h3> Bookings: <h3>
  <div class="dog_bookings">
  </div>
</div>

<h3> Comments: </h3>
<div class="dog Comments row">

</div>
</div>
