<div class="dogBooking">

    <% if (sitter){ %>


    <%  } else { %>
       <div>
         <table>
           <th>
             <td>Date Start:</td>
             <td>Date End:</td>
           </th>
           <tr>
             <td><%= booking.escape('date_start') %> </td>
             <td>Date End: <%= booking.escape('date_end') %> </td>

           </tr>
         </table>
       </div>
    <%  } %>


    <% if (sitter) { %>

      <div class="sitterBookingInformation">
        <div>Sitter Name: <%= sitter.get('sitter_name') %></div>
        <br>
        <div>Price per Night: $<%= sitter.get('price') %></div>
        <div>
          <img class="thumbnail" data-id="<%= sitter.get('id') %>" src="<%= sitter.get('sitter_photo_small') %>">
        </div>
      </div>



    <%  } else { %>

    <%  }%>


      <div>
        <div>Date Start: <%= booking.escape('date_start') %> <div>
        <div>Date End: <%= booking.escape('date_end') %> </div>
      </div>

      <% if (booking.confirmed) { %>
        <h2 style="color:#3EFF1F">Confirmed</h2>
      <% }else { %>
        <h2 style="color:#FFE745">Pending</h2>
      <% }%>
      <% if (booking.completed) { %>
        <button id=commentOnBooking>Comment On Sitter</button>
      <% } %>



</div>
