<div class="dogBooking col-xs-12 panel panel-info">

  <div class="panel-heading">
    <h4>Sitter Name: <a href="#/sitters/<%= sitter.get('id') %>"><%= sitter.get('sitter_name') %></a> </h4>
  </div>

  <div class="panel-body">

      <table class="table table-striped">
        <tr>
          <td>Date Start:</td>
          <td>Date End:</td>
          <td>Status:</td>
          <td>Price/Night:</td>
        </tr>
        <tr>
          <td><%= booking.escape('date_start') %> </td>
          <td><%= booking.escape('date_end') %> </td>
          <td>
            <% if (booking.get('confirmed')) { %>
              <span style="color:#3EFF1F">Confirmed</span>
            <% }else { %>
              <span style="color:#FFD822">Pending</span>
            <% }%>
          </td>
          <td>
            $<%= sitter.get('price') %>
          </td>
        </tr>
      </table>



      <div class="sitterBookingInformation">
        <h4> Sitter Picture: </h4>
        <div id="dogBookingSitterInfo">

          <img class="thumbnail" data-id="<%= sitter.get('id') %>" src="<%= sitter.get('sitter_photo_small') %>">
          <div style="font-size: 10px; color: blue; padding: 5px 0px;" class="caption">
            Click to expand/collapse picture
          </div>
        </div>
        <div id="">

        </div>
        <% if (booking.get('confirmed')) { %>
          <h4>Address:</h4>
          <div class="sitterAddress">
            <%= sitter.escape('street_address') %>
            <%= sitter.escape('city') %>, <%= sitter.escape('state') %>
            <%= sitter.escape('zipcode') %>
          </div>
        <%  } %>

      </div>



  </div>



</div>
