<form id="newBookingForm" class="col-xs-12 col-md-4">

  <h1> New Booking </h1>
  <br>
  <label for="dateStart">Date Start: </label>
  <input type="text" class="form-control" name="date_start" id="dateStart" value="<%= booking.escape('date_start') %>">


  <label for="dateEnd">Date End: </label>
  <input type="text" class="form-control" name="date_end" id="dateEnd"  value="<%= booking.escape('date_end') %>">

  <label for="bookingMessage" id="bookingMessageLabel">Message/Comments:</label>
  <textarea class="form-control" name="message" id="bookingMessage" value="<%= booking.escape('message') %>"></textarea>

  <% if (!dogs) { %>

  <% } else { %>
    <label for="dogSelect">Choose which dog you would like to book this stay for:</label>
    <select name="dog_id" id="dogSelect">
      <% dogs.each(function(dog){ %>
          <option value="<%= dog.escape('id') %>"><%= dog.escape('name') %></option>
      <%  });  %>
    </select>

  <% } %>

  <input type="submit" class="btn btn-success" id="submitBooking" value="Request Booking!">
</form>

<script>
 $(function() {
    $("#dateStart").datepicker();
    $("#dateEnd").datepicker();
  });
</script>
