<div class="sitterBooking panel panel-info" data-id="<%= booking.get('id') %>">

  <div class=panel-heading>
    <h4>Booking: <%= dog.escape('name') %></h4>
  </div>




  <div class="row">

    <div class="dogBookingInfo">


        <div class="col-xs-4">

          <div class="bookingDogInfo">
            <div>
              <div>Dog Size: <%= dog.escape('size') %></div>
              <div> Message: </div>
              <div> <%= booking.escape('message') %></div>
            </div>

          </div>
        </div>


      <div class="col-xs-4">

        <div>
          <div>Date Start: <%= booking.escape('date_start') %> </div>
          <div>Date End: <%= booking.escape('date_end') %> </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              Message:
            </div>
            <div id="panel-body">
              <%= booking.escape('message')  %>
            </div>
          </div
          </div>
        </div>

      <% if (booking.get('confirmed')) { %>
        <h3> Booking Confirmed </h3>
      <% }else { %>
        <div class="bookingConfirmation">
          <div class="confirmDiv" data-id="<%= booking.get('id') %>"><h2>Confirm? <button class="confirmBooking btn btn-success">✓</button></h2></div>
          <div class="denyDiv" data-id="<%= booking.get('id') %>"><h2>Deny? <button class="denyBooking btn btn-danger">✖</button></h2></div>
        </div>
      <% } %>
      </div>




      <div class="col-xs-4">
        <div style="color: blue">Click to expand picture</div>
        <img class="thumbnail" src="<%= dog.get('dog_photo_small') %>">

      </div>



  </div>


  </div>


</div>
