<div class="dogShowInfo">

  <h1><%= dog.escape('name') %></h1>

  <img class="img-responsive img-circle" src="<%= dog.get('dog_photo') %>">

<ul>
  <li>Age: <%= dog.escape('age') %></li>
  <li>Description:
    <p class="dog-description"><%= dog.escape('description') %></p>
  </li>
  <li>Size: <%= dog.escape('size') %></li>
  <li>
    <a href= "#/api/dogs/<%= dog.escape('id') %>/edit"> Edit Dog Information </a>
  </li>
</ul>

<a href="#/api/dogs/<%= dog.get('id')%>/remove">Remove Dog Profile</a>

</div>
