<div class="sitterShowInfo">

  <div class="sitterInfo">

    <div class="sitterShowImage">
      <img class="img-responsive" src="<%= sitter.escape('sitter_photo_large') %>">
    </div>

    <div class="sitterShowProfileContent">

      <span class="sitterProfileButtons">
        <button class="btn btn-primary editSitterInfo" data-id="<%= sitter.escape('id') %>">Edit Sitter Information </button>
        <button class="removeSitterAccount btn btn-danger">Remove Sitter Listing</button>
      </span>
      <h2><%= sitter.escape('sitter_name') %></h2>

      <ul>
        <li><h4>Price per Night:</h4><span id="sitterShowPrice">$<%= sitter.escape('price') %></span></li>
        <li><h4>Description:</h4>
          <p class="sitter-description"><%= sitter.escape('description') %></p>
        </li>
        <li>Accepts Small Dogs? <%= (sitter.escape('small')) ? "✓" : "✖" %></li>
        <li>Accepts Medium Dogs? <%= (sitter.escape('medium')) ? "✓" : "✖" %></li>
        <li>Accepts Large Dogs? <%= (sitter.escape('large')) ? "✓" : "✖" %></li>
      </ul>
    </div>
  </div>

    <div class="lowerContent">
        <div class="sitter_bookings">
        </div>
    </div>
  </div>

</div>
