<div class="sitterShowInfo">

  <div class="sitterInfo">
    <button class="bookNow btn btn-success">Book Now!</button>
    <div id="sitterShowImage">
      <img class="img-responsive" src="<%= sitter.get('sitter_photo_large') %>">
    </div>

    <div class="sitterShowContent">
      <h2><%= sitter.escape('sitter_name') %></h2>

      <ul>
        <li>Price per Night: <%= sitter.escape('price') %></li>
        <li>Description:
          <p class="sitter-description"><%= sitter.escape('description') %></p>
        </li>
        <li>Accepts Small Dogs? <%= (sitter.get('small')) ? "✓" : "✖" %></li>
        <li>Accepts Medium Dogs? <%= (sitter.get('medium')) ? "✓" : "✖" %></li>
        <li>Accepts Large Dogs? <%= (sitter.get('large')) ? "✓" : "✖" %></li>

        </li>
      </ul>
    </div>
  </div>

  <div class="sitterCommentsSection">

    <h2>Comments:</h2>
    <button id="commentOnSitter" class="btn btn-info">Add Comment</button>

    <div class="commentsSection">

      <div class="sitterComments"></div>

    </div>
  </div>

</div>
