<div class="sitterShowInfo">
  <div id="sitterAdTopContent">
    <div id="sitterShowLeftContent">

      <div id="sitterShowAdImage">
        <img src="<%= sitter.get('sitter_photo_large') %>">
      </div>





    </div>
    <div id="sitterShowRightContent">
      <button class="bookNow btn btn-success">Book Now!</button>
      <div class="sitterShowAdContent">
        <h2 id="sitterDescription"><%= sitter.escape('sitter_name') %></h2>


        <ul>
          <li>Price per Night: $<%= sitter.escape('price') %></li>
          <li>Description:
            <p class="sitter-description"><%= sitter.escape('description') %></p>
          </li>
          <li>Accepts Small Dogs? <%= (sitter.get('small')) ? "✓" : "✖" %></li>
          <li>Accepts Medium Dogs? <%= (sitter.get('medium')) ? "✓" : "✖" %></li>
          <li>Accepts Large Dogs? <%= (sitter.get('large')) ? "✓" : "✖" %></li>

          </li>
        </ul>

      </div>

    </div>

  </div>

  <div id="sitterShowAdBottomContent">
    <div id="newCommentsSection">
      <button id="commentOnSitter" class="btn btn-info">Add Comment</button>
    </div>
    <h2 id="sitterAdCommentsHeader">Comments:</h2>
    <div class="sitterAdCommentsSection">
      <div id="displayAdSitterComments">
        <div class="sitterComments"></div>
      </div>
    </div>
  </div>



</div>
