<div class="sitterShowInfo row">

  <div class="sitterInfo">
      <button class="bookNow btn btn-success">Book Now!</button>
    <div class="sitterShowImage col-xs-3">
      <img class="img-responsive" src="<%= sitter.get('sitter_photo_large') %>">
    </div>

    <div class="sitterShowContent col-xs-7">
      <h2><%= sitter.escape('sitter_name') %></h2>

      <ul>
        <li>Price per Night: <%= sitter.escape('price') %></li>
        <li>Description:
          <p class="sitter-description"><%= sitter.escape('description') %></p>
        </li>
        <li>Accepts Small Dogs? <%= (sitter.get('small')) ? "Yes" : "No" %></li>
        <li>Accepts Medium Dogs? <%= (sitter.get('medium')) ? "Yes" : "No" %></li>
        <li>Accepts Large Dogs? <%= (sitter.get('large')) ? "Yes" : "No" %></li>

        </li>
      </ul>
    </div>

    <div class="lowerContent row">



      <!-- <div class="mapWrapper col-xs-5 col-xs-offset-1">
      </div> -->
    </div>

    <div class="commentsSection row">

      <div class="sitterComments col xs-8">


      </div>

    </div>





  </div>



</div>
