<!DOCTYPE html>
<html>
<head>
  <title>DogSittingApp</title>

  <base href="/">

  <%= stylesheet_link_tag 'application' %>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAPS_API_KEY'] %>">
    </script>

  <%= csrf_meta_tags %>


</head>


<body>

<%= yield %>


<%= javascript_include_tag 'application' %>

</body>


</html>
