<!DOCTYPE html>
<html>
<head>
  <title>DogSittingApp</title>

  <%= stylesheet_link_tag 'application' %>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAPS_API_KEY'] %>">
    </script>

  <%= csrf_meta_tags %>





</head>

<% unless current_user %>
<div id="splash">



<% end  %>
<body>

<%= render partial: "layouts/header" %>

<%= yield %>



<%= render partial: "layouts/footer" %>

<%= javascript_include_tag 'application' %>

<script charset="utf-8">
  $(document).ready(function(){
    DogSittingApp.initialize();

  });
</script>
</body>


<% unless current_user %>

<!-- <div class="footer">
  <h2>Paw Pal: The Dog Sitting Web Aggregator</h2>
  <a href="https://www.linkedin.com/profile/view?id=299520782">About The Developer</a>



  <div id="about">
    <span class="footerTitle">How it Works:</span>
    <p> Sign in, Add Your Dogs then Search and Book Sitters. Or become a sitter to start earning cash today</p>
  </div>

  <div id="toolsUsed">
    <span class="footerTitle">Tools Used to Create Site:</span>

    <div id="ruby">
      <img class="img" src="https://s3-us-west-1.amazonaws.com/pet-sitter-development/railslog.png" alt="https://s3-us-west-1.amazonaws.com/pet-sitter-development/pic-missing2.png" />
    </div>

    <div id="backbone">
      <img class="img" src="https://s3-us-west-1.amazonaws.com/pet-sitter-development/backbone.png" alt="https://s3-us-west-1.amazonaws.com/pet-sitter-development/pic-missing2.png" />
    </div>

    <div id="HTML">
      <img src="https://s3-us-west-1.amazonaws.com/pet-sitter-development/htmllogo.png" alt="https://s3-us-west-1.amazonaws.com/pet-sitter-development/pic-missing2.png" />
    </div>
  </div>

</div> -->


<% end  %>

</html>
